/*
 * File ini berisi CSS untuk tema 'default' yang diambil dari theme2.download di
 * http://tambahrejo.web.id/first/artikel/201 susunan Augush Harry & Dwi Asih Wahyu Saptoto
 * CSS ini memakai image:
 *     - latar belakang body yang ditempatkan di themes/default/css/images/latar_website.jpg
 *
 * first.css ini berisi perubahan untuk styles yang ada di assets/front/css/first.css
 *
*/

html{
	<param name="quality" value="high" />
	<embed src="http://www.4shared.com/embed/487028039/72ce44cf/preview.swf" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="147" height="34" ></embed>
}
a, a:active { text-decoration: none; background-color: inherit; color: #0404fd; }
a:visited { text-decoration: none; background-color: inherit; color: #0404fd; }
a:hover { text-decoration: none; background-color: inherit; color: #fd0315; }

body{
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#maincontainer{
	background: ; /*warna background halaman utama*/
}
#topsection{
	margin-right: 9px;
	margin-left: 6px;
	background: #b50303; /*warna header atas/ background kepala web*/
}
#mainmenu{
	margin-left: -7px;
	width: 101.6%;
}
nav.navbar.navbar-inverse{
	margin-right: -2px;
}
#scroller{
	margin-top: 0px;
	margin-left: -6px;
	width: 101.4%;
}
#menu_vert2 .cycle-slideshow img { height: 88px; }
#footer{
	padding: 3px 0;
	background: brown;
}
#footer a{color: #88fd78;}

#menu_vert{
	height: 30px;
	border:0px solid #FFFFFF;
	background: url(images/tb2.jpg) repeat center top;
}

#menu_vert a.dropdown-toggle{
	padding-top: 5px;
	height: 30px;
}

#mainmenu a.dropdown-toggle{
	padding-top: 5px;
	height: 30px;
}

#divlogo-txt {
		margin-left: 85px;
}
#divlogo-img{
	float: left;
	width: 100px;
	padding: 3px;
	margin-left: -103%;
	text-align:center;}
#divlogo-img img{height:100px;margin-top:1px;}

#siteTitle h1{font-family: "Arial Black", Gadget, sans-serif;font-size:21px;color:white;font-weight:bold;} /* merubah font judul web ( desa ) */
#siteTitle h2{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size:15px;color:white;
	font-weight:bold;
	margin-top: 0px;
} /* mengubah font judul web ( kecamatan dan kabupaten ) */
#siteTitle h3{
	font-family: "comic sans", Gadget, sans-serif;
	font-size:11px;
	color:yellow;
	font-weight:bold;
	margin-top: 0px;
} /* mengubah font judul web ( alamat ) */

#mainmenu {
	background: url(images/tb.jpg) repeat center top;
}

.box {
	background: #dffed9;
}
.box.box-solid.box-danger > .box-header {
	background: #fe0012;
	background-color: #fe0012;
}

/*
 * Menampilkan Artikel mengganti background artikel dll
 * */
.artikel .sampul img {
	margin-left: auto;
	margin-right: auto;
}
.artikel {
	margin-top: 1em;
	padding:.8em 1em 1px 1em;
	background-color:#8abffb;
}
.artikel.feed {
	background-color: gold;
}
.artikel .judul {
	font-size: 1.25em;
	color: #fd070d;
	line-height: 1em;
	margin-bottom: .5em;
}
.artikel .kecil {
	font-size: .8em;
	color:#040404;
	font-style: italic;
	font-weight: 400;
	margin-bottom: .5em;
}
.artikel .teks {
	font-size: 1em;
	margin-right: .5em;
}
.artikel .sampul {
	margin: 1em 0;
	display:block;width:100%;
}
.gb {
	border-bottom: solid 2px #eee;
}
.btn-block {
		display: block;
		width: 100%;
		margin-top: 5px;
}
/*
 * Ubah penampilan navbar bootstrap
 */

/* Menu beranda */
#menu-left ul.nav > li > a{
	padding-top: 5px;
	padding-bottom: 0px;
}

ul.nav.navbar-nav {
	text-transform: none;
}

#ul-menu {
		list-style-type: disc;
	margin-left: 20px;
	margin-bottom: 0px;
}
ul.submenu {
		list-style: disc;
		margin-left: 20px;
}
#ul-agenda {
		list-style-type: none;
}
#table-agenda {
	margin-bottom: 10px;
}
#label-meta-agenda {
		color: #ca0b0b;
		font-size: 12px;
	margin-bottom: 0px;
}
#isi-meta-agenda {
		font-weight: bold;
		color: #ca0b0b;
		font-size: 11.3px;
	margin-bottom: 0px;
}

/* Khusus widget Covid */
#covid, #covid_local {
	background-color: #dffed9;
}

/* Tampilan APBDesa */
.judul-apbdesa {
	height: 2.5em;
	text-align: center;
}
