.leaflet-control-command-interior {
    background-image: url(images/shape.png);
    cursor: pointer;
    width: 38px;
    height: 38px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-command-interior:hover {
    background-color: #F4F4F4;
}

.leaflet-control-command-form{
    width: 30px;
    height: 30px;
}
