/* Berisi CSS Modifikasi dari CSS AdminLTE */

body {
	font-family: 'Quicksand', sans-serif !important;
}

.content-wrapper {
	background: #fff;
}

.box-title {
	font-size: 25px;
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
	color: #ffffff;
}

.box-body {
	background: #fff;
	border-radius: 5px;
}

.box-body.box-line {
	border-bottom: 1px solid #f4f4f4;
}

.box-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.info-box, .box-solid, .carousel-inner, .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	border-radius: 5px;
}

.info-box-icon {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.info-box-text {
	display: block;
	float: left;
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	line-height: 80px;
	margin-left: 10px;
}

.logo-brand {
	margin: -7px;
	width: 30px;
	height: auto;
}

.btn-social>:first-child {
	border-right: 0;
	font-size: 1.3em;
}

.judul {
	height: 35px;
	padding: 10px;
	margin: 10px;
	font-size: 13px;
	text-transform:
	text-align: left;
	vertical-align: middle;
	background-color: #d2d6de !important;
	color: #000;
}

table, th, td {
	font-size: 12px;
	border:2px solid green;
}

th, td {
	height: 30px;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
}

.table-data {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.table-data > thead > tr > th {
	vertical-align: middle;
	white-space: nowrap;
	text-transform: uppercase;
	background-color: #d2d6de !important;
	text-align: center;
	white-space: nowrap;
}

.table-responsive {
	min-height: .01%;
	overflow-x: auto;
}

table.dataTable {
	border-collapse: collapse !important;
}

th.padat, td.padat {
	width: 1%;
	white-space: nowrap;
	text-align: center;
}

th.aksi, td.aksi {
	width: 1%;
	white-space: nowrap;
	text-align: left;
}

.btn-proses {
	cursor: not-allowed;
}

.content, .content-header {
	position: relative;
	padding: 5px;
	margin-top: 5px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding: 5px;
}

/*Login */
.login-page {
	position:fixed;
	width:100%;
	background: url('../css/images/latar_login.jpg') no-repeat center fixed; /*gambar background */
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.login-box {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: auto;
	display: block;
}

.login-box-body {
	background: #f5f5f5;
	padding: 20px;
	border-top: 0;
	border-radius: 20px;
	width: 370px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form-login {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.logo-login {
	width: 120px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.login-title > h1 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 4px 4px 4px #000;
	-webkit-text-stroke: 1px #fff;
	color: #0c83c5;
	margin-top: 5px;
	margin-bottom: -10px;
}

.form-login > input, .form-login > button {
	text-align: center;
	border-radius: 20px;
	height: 40px;
	width: 100%;
}

.login-title > h3 {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-login-footer {
	font-size: 14px;
	text-align: center;
	color: #999;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-login-footer > a {
	text-decoration:none;
	color: #999;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.notif-mandiri > p {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: red;
}

@media (max-width: 768px){
	.login-box {
		padding: 10px;
		margin-top: 10px;
	}

	.login-box-body {
		width: 100%;
	}

	.form-login {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.visible-xs-block {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

textarea {
	width: 100%;
	min-height: 100px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #dddddd;
	padding: 10px;
	overflow-x: hidden;
	resize: vertical;

}

.btn-social {
	padding-left: 35px;
}

.select_row {
	background-color:#ffeeaa;
}

.box-line > h4 {
	font-size: 16px;
}

.content-wrapper.periksa {
	min-height: 0px !important;
}
div.form-surat .content-wrapper {
	padding-top: 0px !important;
	padding-left: 30px;
}

#wrapper-mandiri .tdk-permohonan, .breadcrumb.admin , .box-header.admin, .tdk-periksa, .jar_form {
	display: none;
}

table#surat {
	width: auto;
}

.content.periksa {
	min-height: 0px !important;
	padding-bottom: 0;
}

div.form-surat .content-header {
	padding-top: 0px !important;
}

.content-wrapper, .fixed .right-side {
	padding-top: 0;
}

.permohonan-surat > .content-wrapper, .permohonan-surat > .right-side {
	padding-top: 0;
}

.form-horizontal .form-group > label {
	text-align: left;
}

a.btn {
	color: #fff;
}

.unread > td {
	background-color: #ffeeaa !important;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
	height: 25px;
	padding: 5px 10px;
	font-size: 11px;
	line-height: 1.2;
	border-radius: 0;
}

.modal {
	padding-right: 0;
	padding-left: 0;
}

.modal-body.modal-line {
	border-top: 1px solid #f4f4f4;
}

.form-horizontal.form-group.has-error label {
	padding-left: 10px;
}

.error {
	color: #dd4b39;
}

/* Untuk form permohonan surat */
.form-group.cari_nik, .form-group.konfirmasi {
	margin-bottom: 0;
}

.box-body.permohonan-surat {
	margin-bottom: -10px;
}

.content-header > h1 {
	margin: -10px;
	font-size: 18px;
	font-weight: bold;
}
