/**
 * File ini:
 *
 * CSS untuk modul Pemetaan
 *
 * /assets/css/peta.css
 *
 */

/**
 *
 * File ini bagian dari:
 *
 * OpenSID
 *
 * Sistem informasi desa sumber terbuka untuk memajukan desa
 *
 * Aplikasi dan source code ini dirilis berdasarkan lisensi GPL V3
 *
 * Hak Cipta 2009 - 2015 Combine Resource Institution (http://lumbungkomunitas.net/)
 * Hak Cipta 2016 - 2020 Perkumpulan Desa Digital Terbuka (https://opendesa.id)
 *
 * Dengan ini diberikan izin, secara gratis, kepada siapa pun yang mendapatkan salinan
 * dari perangkat lunak ini dan file dokumentasi terkait ("Aplikasi Ini"), untuk diperlakukan
 * tanpa batasan, termasuk hak untuk menggunakan, menyalin, mengubah dan/atau mendistribusikan,
 * asal tunduk pada syarat berikut:

 * Pemberitahuan hak cipta di atas dan pemberitahuan izin ini harus disertakan dalam
 * setiap salinan atau bagian penting Aplikasi Ini. Barang siapa yang menghapus atau menghilangkan
 * pemberitahuan ini melanggar ketentuan lisensi Aplikasi Ini.

 * PERANGKAT LUNAK INI DISEDIAKAN "SEBAGAIMANA ADANYA", TANPA JAMINAN APA PUN, BAIK TERSURAT MAUPUN
 * TERSIRAT. PENULIS ATAU PEMEGANG HAK CIPTA SAMA SEKALI TIDAK BERTANGGUNG JAWAB ATAS KLAIM, KERUSAKAN ATAU
 * KEWAJIBAN APAPUN ATAS PENGGUNAAN ATAU LAINNYA TERKAIT APLIKASI INI.
 *
 * @package OpenSID
 * @author  Tim Pengembang OpenDesa
 * @copyright Hak Cipta 2009 - 2015 Combine Resource Institution (http://lumbungkomunitas.net/)
 * @copyright Hak Cipta 2016 - 2020 Perkumpulan Desa Digital Terbuka (https://opendesa.id)
 * @license http://www.gnu.org/licenses/gpl.html  GPL V3
 * @link  https://github.com/OpenSID/OpenSID
 */

#map
{
  width:100%;
  height:73vh
}
#content {
  height: auto !important;
}
#bodyContent p {
  margin: 18px 0;
}
.form-group a
{
  color: #FEFFFF;
}
.foto
{
  width:200px;
  height:140px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border:2px solid #555555;
}
.icos
{
  padding-top: 9px;
}
.foto_pend
{
  width:70px;height:70px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
}
.leaflet-popup-content {
  height: 245px;
  overflow-y: scroll;
}
.kantor_desa .leaflet-popup-content {
  height: auto;
  overflow-y: auto;
}
.covid_pop .leaflet-popup-content {
  height: auto;
  overflow-y: auto;
}
.leaflet-tooltip-content p {
    margin: 18px 0 !important;
}
.leaflet-tooltip {
  /*height: 245px;*/
}
.leaflet-control-layers {
	display: block;
	position: relative;
}
.leaflet-control-locate a{font-size:2em;color:#444;cursor:pointer}
.leaflet-control-locate.active a{color:#2074b6}
.leaflet-control-locate.active.following a{color:#fc8428}
.leaflet-control-locate-location circle{animation:leaflet-control-locate-throb 4s ease infinite}@keyframes leaflet-control-locate-throb{0%{stroke-width:1}50%{stroke-width:3;transform:scale(0.8, 0.8)}100%{stroke-width:1}}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-social.btn-sm {
  padding-left: 38px;
}
.bg-navy {
  background-color: #001f3f !important;
  color: #fff !important;
}

.square {
  position: relative;
  height: 70px;
  width: 100%;
  border-radius: 10px;
  color: #efefef;
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3px 15px;
  overflow: hidden;
  margin-left: 230px;
}

.covid {
  height: 70px;
  z-index: 10;
}

.covid span:nth-child(1) {
  font-size: small;
  font-weight: normal;
}
.covid span:nth-child(2) {
  font-size: medium;
}

.positif {
  background: #F82649;
}

.sembuh {
  background: #09AD95;
}

.meninggal {
  background: #D43F8D;
}

.line {
  position: relative;
  height: 17px;
  width: auto;
  border-radius: 5px;
  margin-left: 230px;
  font-size: 14px;
}

.line-short {
  width: auto;
}

.covid::before {
  content: '';
  position: absolute;
  background-image: url('../images/corona.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.covid.shimmer::before {
  content: '';
  background-image: none;
}

.shimmer {
  background: #efefef;
  background-image: linear-gradient(to right, #efefef 0%, #edeef1 20%, #f6f7f8 40%, #efefef 100%);
  background-repeat: no-repeat;
  background-size: cover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

.grid-print-container {
  grid-template: auto 1fr auto / 1fr;
  background-color: white;
}
.grid-map-print {
  grid-row: 2;
}

.grid-print-container > .title,
.grid-print-container > .sub-content {
  color: black;
}
.title {
  grid-row: 1;
  justify-self: center;
  text-align: center;
  color: grey;
  box-sizing: border-box;
  margin-top: 0;
}
.sub-content {
  grid-row: 5;
  padding-left: 10px;
  text-align: center;
  color: grey;
  box-sizing: border-box;
}

[leaflet-browser-print-pages] {
  display: none;
}
.pages-print-container [leaflet-browser-print-pages] {
  display: block;
}

.info.legend {
  padding: 6px 8px;
  font: 10px/12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 10px; color: #555; }
.legend > * {
  display: flex;
  margin-bottom: 5px;
}
.legend i { width: 10px; height: 10px; float: left; margin-right: 8px; opacity: 1; }

.leaflet-tooltip-pane .text {
  color: #000000;
  font-weight: bold;
  background: transparent;
  border:0;
  box-shadow: none;
  font-size:0.8em;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

#covid_local_peta {
  margin-right: 10px;
  margin-left: 10px;
}
#covid_local_peta .panel {
  background-color: inherit;
  margin-bottom: 0px;
}
#covid_local_peta .panel-body {
  background-color: white;
}
#covid_local_peta .panel-body-lg {
  background-color: none;
}
#covid_local_peta .panel-body.sub {
  background-color: inherit;
  padding-top: 10px;
}
#covid_local_peta .row .panel-heading {
  height: 50px;
  padding: 1px;
}

#html_a .leaflet-popup-content {
  height: 100px;
  overflow-y: scroll;
}

#qrcode .panel-body-lg {
  margin-left: 5px;
  margin-bottom: 40px;
  pointer-events: visiblePainted;
	pointer-events: auto;
  position: relative;
  z-index: 800;
}

.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > img {
  max-width: 100%;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}

.bg-red,
.bg-yellow,
.bg-blue,
.bg-green,
.bg-red-active,
.bg-yellow-active,
.bg-blue-active,
.bg-green-active {
  color: #fff !important;
}

.bg-red {
  background-color: #dd4b39 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-green {
  background-color: #00a65a !important;
}