* {
	margin:0;
	padding:0;
}

body {
	margin:2px;
	padding:2px;
	background:#fff;
	color:#000;
	font-size:12px;
	font-family:cambria,"times new roman",arial;
}

h1 {
	font-size:18px;
}

h3 {
	font-size:18px;
}

h4 {
	font-size:14px;
}

h5 {
	font-size:13px;
}

label {
	display:inline-block;
}

.nowrap {
	white-space:nowrap;
}

#body {
	padding:0px;
}

#ktp {
	width:500px;
	margin: 0px;
	border:2px solid #000;
	padding:5px;
}

.header {
	border-bottom:2px solid #000;
	padding-bottom:5px;
	margin:-5px auto;
}

table {
	border-collapse: collapse;
	width:100%;
}

table.border {
	border:1px solid #000;
}

table.border.thick {
	border:2px solid #000;
}

table.data {
	font-size:12px;
}

table.border tr {
	border-bottom:1px solid #aaa;
}

tr.thick, thead tr.thick {
	border-bottom:2px solid #000!important;
}

table.border td {
	padding:2px 5px;
	border:1px solid #aaa!important;
}

th {
	text-transform:uppercase;
	padding:2px;
	border:1px solid #000!important;
	background:#eee;
}

tr.footer {
	text-transform:uppercase;
	font-weight:bold;
	padding:2px;
	border-top:1px solid #000!important;
	background:#eee;
}

th.thick, td.thick {
	border:solid #000;
	border-width:0 2px;
}

td.top {
	vertical-align: top;
}

table.noborder * {
	border:none!important;
}

td.bilangan, th.bilangan, td.no_urut {
	text-align: center;
}

img.logo {
	width:100px;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.judul {
	text-transform: uppercase;
	text-align: center;
}

th.padat, td.padat {
	width: 1px;
	white-space: nowrap;
	text-align: center;
}

.text-center {
	text-align: center;
}

td.textx {
	mso-number-format:"\@";
}

hr.garis {
	border-bottom: 2px solid #000000;
	height: 0px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.textx {
	mso-number-format:"\@";
}

td, th {
	font-size:9pt;
}

table#ttd td {
	text-align: center;
	white-space: nowrap;
}

.underline {
	text-decoration: underline;
}