body
{

font-family:Arial,"times new roman",arial;
color:black;
background-color:white;
margin-left:24px;
margin-right:20px;
font-size:14px;
line-height:20px;
}
hr{
border-bottom: 4px solid #000000;
height:0px;
}
table, tr, td
{
background-color:white;
line-height:1.3;
vertical-align: top;
}

.page {
margin:18px;}

.kop {
font-size:24px; 
text-align: center; 
line-height:0.1;
margin:22px;}

.kop3 {
font-size:18px; 
text-align: center; 
line-height:0.1;
margin:22px;}

.kop2 {
font-size:14px; 
font-weight:normal; 
text-align: center; 
line-height:0.1;
margin:10px;}

.header {
padding-top:1px;
text-align: center;
height:110px;
}

.logo {
float: left;
margin-top:8px;
margin-left:5px;
width:90px;
height:90px;
}

#isi {
line-height:0.1;
vertical-align: top;
}

#isi2 {
line-height:0.8;
vertical-align: top;
}
#isi3 {
line-height:1;
vertical-align: top;
}

#isi3 td{
line-height:1.2;
vertical-align: top;
text-align:justify;
}

.indentasi{
text-indent:40px;
line-height:1.2;
text-align:justify;
}

.clear {clear: both;}
*{
    margin:0;
    padding:0;
}

h1{
    font-size:18px;
}
h3{
    font-size:18px;
}
h4{
    font-size:14px;
}
h5{
    font-size:13px;
}
label{
    display:inline-block;
}
.nowrap{
    white-space:nowrap;
}
#body{
    padding:0px;
}
#ktp{
    width:500px;
	margin: 0px;
    border:2px solid #000;
    padding:5px;
}
.header{
    border-bottom:2px solid #000;
    padding-bottom:5px;
    margin:-5px auto;
}